.main {
	width: 100%;
	min-height: 100dvh;
	background-image: url('/moon-jellyfish.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	overflow-y: auto;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #040c22;
		content: '';
		opacity: 0.9;
	}

	header {
		z-index: 3;
		position: fixed;
		top: 0;
		width: 100%;
		height: 6em;
		display: flex;
		align-items: center;
		padding-left: 2em;
		padding-bottom: 1em;

		@media (width < 950px) {
			justify-content: center;
			background-image: linear-gradient(to bottom, #e2edf3aa 50%, #e2edf300);

			&.dark {
				background-image: linear-gradient(to bottom, #254b71fa, #254b7100);
			}
		}

		&.dark {
			nav {
				ul {
					a {
						color: #fff;

						&:hover {
							color: #082749;
							text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
						}
					}
				}
			}
		}

		nav {
			font-size: 1.2em;
			
			ul {
				display: flex;
				align-items: center;
				gap: 1em;
				list-style: none;

				a {
					text-decoration: none;
					color: #2977b8;
					transition: 0.2s ease-out;
					padding: 0.5em;

					&:hover {
						color: #254b71;
					}
				}
			}
		}
	}
}