.main {
	width: 100%;
	min-height: 100dvh;
	background-image: url('/moon-jellyfish.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	overflow-y: auto;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #040c22;
		content: '';
		opacity: 0.9;
	}

	header {
		z-index: 3;
		position: fixed;
		top: 0;
		width: 100%;
		height: 6em;

		@media (width < 950px) {
			.headerWrapper {
				justify-content: center;
				font-size: clamp(0.7em, 0.525em + 0.8vw, 1em);

				.headerBackground {
					opacity: 1 !important;
				}

				nav {
					ul {
						a {
							color: #fff !important;
	
							&:hover {
								color: #082749 !important;
								text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
							}
						}
					}
				}
			}

			&.dark {
				.headerWrapper {
					.headerBackground {
						opacity: 1;
					}
				}
			}
		}

		&.dark {
			.headerWrapper {
				nav {
					ul {
						a {
							color: #fff;
	
							&:hover {
								color: #082749;
								text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
							}
						}
					}
				}
			}
		}

		&.darkPage, &.opacity {
			.headerWrapper {
				.headerBackground {
					opacity: 1;
				}
	
				nav {
					ul {
						a {
							color: #fff;
	
							&:hover {
								color: #082749;
								text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
							}
						}
					}
				}
			}
		}

		.headerWrapper {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding-left: 2em;
			padding-bottom: 1em;
			position: relative;

			.headerBackground {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				background-image: linear-gradient(to bottom, #254b71fa, #254b7100);
				opacity: 0;
				transition: 0.2s ease-out;
			}

			nav {
				font-size: 1.2em;
				
				ul {
					display: flex;
					align-items: center;
					gap: 1em;
					list-style: none;
	
					a {
						text-decoration: none;
						color: #2977b8;
						transition: 0.2s ease-out;
						padding: 0.5em;
	
						&:hover {
							color: #254b71;
						}
					}
				}
			}
		}
	}
}